---
// src/components/Navigation.astro
import SimpleLink from './nav/SimpleLink.astro';
import Dropdown from './nav/Dropdown.astro';
import MegaMenu from './nav/MegaMenu.astro';



const { navData } = Astro.props;
---
<style>
  nav {
    display: flex;
    gap: 1.5rem;
    background: red;
  }
</style>

<nav class="">
    
  {navData?.map((item: any) => {
    switch (item.__typename) {
      case 'ConfigNavSimpleLink': // Matches your console log
        return <SimpleLink {...item} />;
        
      case 'ConfigNavDropdown':   // Matches your console log
        return <Dropdown {...item} />;
        
      case 'ConfigNavMegaMenu':   // Matches your console log
        return <MegaMenu {...item} />;
        
      default:
        return null;
    }
  })}
</nav>

